@using QuanLi_WebDienThoai.Models
@model List<ChiTiet_KhuyenMai>

@{
    ViewBag.Title = "QuanLiKhuyenMai";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
<style>
    .btn-them-khuyen-mai {
        background-color: #28a745; /* Màu xanh lá */
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        display: inline-flex;
        align-items: center;
    }

        .btn-them-khuyen-mai i {
            margin-right: 8px; /* Khoảng cách giữa biểu tượng và văn bản */
        }


    a {
        text-decoration: none; /* Không gạch chân */
        color: aliceblue; /* Màu chữ xanh lá */
        font-weight: bold; /* Đậm chữ */
    }

        /* Nếu bạn muốn tắt hiệu ứng hover, không thay đổi màu khi di chuột */
        a:hover {
            color: aliceblue; /* Giữ nguyên màu khi hover */
            text-decoration: none; /* Không có gạch chân khi hover */
        }
</style>
<h2>Danh sách khuyễn mãi</h2>
<button class="btn-them-khuyen-mai">
    <i class="fa fa-plus"></i> <a href="/KhuyenMai/ThemKhuyenMai">Thêm Chương Trình Khuyến Mãi</a>
</button>
<button class="btn-them-khuyen-mai">
    <i class="fa fa-plus"></i> <a href="/KhuyenMai/ThemChiTietKM">Áp dụng khuyến mãi</a>
</button>
<div class="table-responsive ">
    <table class="table table-bordered text-center mt-3">
        <thead class="table-light">
            <tr>
                <th>Mã khuyễn mãi</th>
                <th>Tên khuyễn mãi</th>
                <th>Sản phẩm áp dụng</th>
                <th>Giảm giá (%)</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.KhuyenMai.id
                    </td>
                    <td>@item.KhuyenMai.Name</td>
                    <td>@item.San_Pham.Name</td>
                    <td>@item.KhuyenMai.Gia</td>
                    <td>@item.NgayBD</td>
                    <td>@item.NgayKT</td>
                </tr>
            }
        </tbody>
    </table>
</div>