@model QuanLi_WebDienThoai.Models.San_Pham

@{
    ViewBag.Title = "SuaSanPham";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
    SelectList lst = (SelectList)ViewBag.id;
}

<h2>SuaSanPham</h2>

@using (Html.BeginForm("SuaSanPham", "Admins", FormMethod.Post, new { enctype = "multipart/form-data", @name = "myForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="col-md-2 form-label ">Loại san pham</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Loai_San_Pham_id, lst, new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.Loai_San_Pham_id, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 form-label">Tên san pham</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 form-label">Giá</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 form-label">Giới thiệu</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GioiThieu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GioiThieu, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-2 form-label">Thương hiệu</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThuongHieu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ThuongHieu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 form-label">Màn hình</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ManHinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ManHinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 form-label">Độ phân giải</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoPhanGiai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DoPhanGiai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 form-label">Camera</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Camera, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Camera, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 form-label">CPU</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cpu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cpu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 form-label">Pin</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 form-label">Ngày phát hành</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayPhatHanh, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.NgayPhatHanh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 form-label">Dung lượng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DungLuong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DungLuong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 form-label">Kích thước</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.KichThuoc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KichThuoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 form-label">Trọng lượng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrongLuong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TrongLuong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 form-label">Số lượng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuongCon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoLuongCon, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-2 form-label">Mô tả</label>
            <div class="col-md-10">
                <textarea class="form-control" name="MoTa" id="inputMoTa">@Model.MoTa</textarea>
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="file" name="files" id="fileInput" multiple />
        <span id="fileError" style="color: red;">@ViewBag.ThongBao</span>

        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sửa" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>

@section TourJS {
    <script>
        CKEDITOR.replace('inputMoTa')
    </script>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
