
@{ ViewBag.Title = "ChiTietDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ChiTiet_DonHang> ct = ViewBag.ct;
    float tam = 0;
    KhuyenMaiGia km = new KhuyenMaiGia();
}

@using QuanLi_WebDienThoai.Models
@model DonHang
<style>
    /*.counter-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;*/ /* Khoảng cách giữa các phần tử */
        /*font-size: 24px;*/ /* Kích thước chữ */
    /*}

    .counter-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: #d3d3d3;*/ /* Màu xám nhạt */
        /*border: 1px solid #000;*/ /* Viền đen */
        /*font-weight: bold;
        font-size: 24px;
    }

    .counter-button {
        cursor: pointer;
        user-select: none;*/ /* Không cho chọn text */
    /*}*/

</style>
<div class="container" >
    <div style="text-align: center;">
        <h3 style="display: inline-block; border-bottom: 2px solid black; padding-bottom: 5px; margin-right: 100px">Chi tiết đơn hàng</h3>
    </div>
    <br />
    <form action="/DatHang/ChiTietDonHang/@Model.id" method="post" class="table table-bordered" style=" width: 80%; display: flex; justify-content: center;; margin-left: 50px">
        <table class="table" style="table-layout:fixed;text-align:left">
            <tbody>
                <tr>
                    <td>Mã đơn hàng</td>
                    <td>@Model.id</td>
                </tr>
                <tr>
                    <td>Họ tên</td>
                    <td>@Model.User.Name</td>
                </tr>
                <tr>
                    <td>Số điện thoại</td>
                    <td>@Model.User.DienThoai</td>
                </tr>
                <tr>
             
                    <tr>
                        <td colspan="2" class="text-center"><b>Sản phẩm đã chọn</b></td>
                    </tr>
                    <tr>
                        <td colspan="2">

                            @foreach (var item in ct)
                            {
                                <table class="table table-light" style="table-layout:fixed">
                                    <tr style="border-top-color:black">
                                        <td>Tên sả phẩm</td>
                                        <td>@item.San_Pham.Name</td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng</td>
                                        <td>@item.SoLuong</td>
                                    </tr>
                                </table>
                                }
                        </td>
                    </tr>

                </tr>
                <tr>
                    <td>Trạng thái</td>
                    <td class="text-danger">
                        Đang diễn ra
                    </td>
                </tr>
                <tr>
                    <td>Tổng tiền</td>
                    <td class="text-danger">
                        @foreach (ChiTiet_DonHang item in ct)
                        {
                            tam = tam + (float)(item.SoLuong.Value * km.TinhGiaSauKhuyenMai(item.San_Pham.id));
                        }
                        @String.Format("{0:0,00}", tam) đ
                    </td>
                </tr>
                <tr>
                    <td>Ghi chú</td>
                    <td><textarea name="GhiChu">  </textarea></td>
                </tr>
                <input type="hidden" name="tongtien" value="@tam" />
                <tr><td colspan="2" class="text-center"><button class="btn btn-primary" type="submit">Thanh toán</button></td></tr>
            </tbody>
        </table>
    </form>

</div>

